.app {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  margin: 5px;
  font-size: 24px;
  cursor: pointer;
  background-color: rgb(159, 205, 246);
  border-radius: 10%;
}

.reset_button {
  margin: 50px;
}
